* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #17304B;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.squared-area {
    padding: 10px;
    border: 2px solid #fffa06;
    border-radius: 10px;
    display: grid;
    grid-gap: 5px;
}

.square {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background: linear-gradient(1600deg, #FF00FF, #000099 125%);
    transition: opacity .5s, background .6s;
}

.square i {
    font-size: 24px;
    color: #f6d80c;
}

.active {
    background: linear-gradient(1600deg, #e1ff67, #f6d80c);
}

h4 {
    font-size: 14px;
    letter-spacing: 5px;
    color: #f6d80c;
    padding-bottom: 20px;
}